parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined static method Livewire\\\\Component\\:\\:getResource\\(\\)\\.$#"
            count: 1
            path: src/Actions/CopyTranslationAction.php
        -
            message: "#^Access to an undefined property Livewire\\\\Component\\:\\:\\$data\\.$#"
            count: 2
            path: src/Actions/CopyTranslationAction.php
        -
            message: "#^Cannot call method getTranslatedLocales\\(\\)\\ on class-string\\|object\\.$#"
            count: 1
            path: src/Forms/Casts/TranslatableTabsStateCast.php
        -
            message: "#^Cannot call method getTranslation\\(\\)\\ on class-string\\|object\\.$#"
            count: 1
            path: src/Forms/Casts/TranslatableTabsStateCast.php
        -
            message: "#^Access to an undefined property Livewire\\\\Component\\:\\:\\$form\\.$#"
            count: 1
            path: src/Forms/Casts/TranslatableTabsStateCast.php
        -
            message: "#Trait Codedor\\\\TranslatableTabs\\\\Resources\\\\Traits\\\\HasTranslations is used zero times and is not analysed\\.$#"
            count: 1
            path: src/Resources/Traits/HasTranslations.php
