parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined static method Livewire\\\\Component\\:\\:getResource\\(\\)\\.$#"
            count: 1
            path: src/Actions/CopyTranslationAction.php
